.main ul,
.main ol {
  padding-left: 3.75em;
}
.body > nav > section {
  display: flex;
  flex-flow: column;
  max-height: 12.9375em;
  box-sizing: border-box;
  border: thin solid black;
  overflow-y: auto;
}
.body {
  background-color: white;
  color: darkslategray;
  font-family: sans-serif;
  line-height: 1.5em;
  margin: 0;
}
.main {
  padding: 1.25em;
}
.body > nav > header {
  text-align: center;
  margin: 0.625em;
}
.body > nav > section > a {
  box-sizing: border-box;
  border-top: thin solid darkslategray;
  color: inherit;
  text-decoration: none;
  padding: 0.625em 1.875em;
}
.body > nav > header,
.main > section > header {
  font-size: 1.8em;
  font-weight: 400;
  color: black;
  line-height: 1.5em;
}
.main code {
  background-color: whitesmoke;
  border-radius: 0.3125em;
  padding: 0.5em;
}
.main pre > code {
  display: block;
  padding: 0.9375em;
}
.body > main > section {
  margin: 0.9375em;
}
.body > main > section > article {
  margin: 0.9375em;
}
.main pre {
  white-space: pre-wrap;
  padding: 0.9375em;
  margin: 0.625em;
}
/* @media (min-width: 50.25em) {
  body > main {
    position: absolute;
    left: 18.75em;
  }
  body > nav {
    position: fixed;
    width: 18.75em;
  }
  body > nav > section {
    position: fixed;
    width: 18.75em;
    max-height: calc(100vh - 4.95em);
    border: none;
  }
  body > main {
    border-left: medium solid dimgray;
  }
} */
