.body img {
  height: 1.35em;
}
.body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.body main > article > section > div > span {
  display: none;
  grid-row: span 2;
  grid-column: 1;
  font-size: 3em;
}
/* html {
  scroll-padding-top: 11.5em;
  margin: 0;
} */
.body {
  background-color: lavender;
  color: black;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.body header {
  display: grid;
  grid-template-rows: 5.5em 5.5em;
  grid-gap: 0.5em;
  width: 100%;
  background-color: lavender;
}
.body h1 {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  font-size: 1.9em;
  line-height: 1em;
}
.body header > span {
  align-self: center;
}
.body header > nav {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
}
.body header > nav > a {
  text-decoration: none;
  color: inherit;
  font-size: 1.1em;
}
.body video {
  max-width: 100%;
  background-color: black;
}
.body footer {
  background-color: lightgray;
  justify-self: stretch;
  display: grid;
  justify-content: flex-end;
  padding: 1em 2em;
  grid-gap: 0.5em;
}
.body main {
  overflow: auto;
  display: grid;
  grid-template-columns: minmax(1fr, 1000px);
  justify-content: center;
}
.body input[type="email"] {
  width: 275px;
}
.body input[type="submit"] {
  padding: 0.25em 1.25em;
  font-weight: bold;
}
.body button {
  padding: 0.75em 1.25em;
  border-radius: 0.25em;
  margin: 1em;
}
.body input[type="submit"],
.body button {
  font-size: 1.25em;
  transition: background-color 0.5s;
  border: none;
  background-color: orange;
  text-transform: uppercase;
  color: inherit;
}
.body input[type="submit"]:hover,
.body button:hover {
  background-color: darkorange;
}
.body form {
  display: grid;
  grid-row-gap: 1em;
  justify-items: center;
}
.body h2 {
  margin: 0;
}
.body p {
  margin: 0;
}
.body div {
  display: grid;
}
.body section {
  display: grid;
  grid-row-gap: 3em;
  margin: 3em 0;
}
.body main > ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.body main > ul > li {
  box-sizing: border-box;
  border: solid thin black;
  max-width: 18em;
  width: 100%;
  margin: 1em;
}
.body main > ul > li > h3 {
  background-color: lightgray;
  margin: 0;
  padding: 1em;
}
.body main > ul > li > ul {
  display: grid;
  grid-row-gap: 0.5em;
  padding: 1em;
}
.body strong {
  font-size: 1.75em;
}
.body footer > nav {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1em;
  justify-content: flex-end;
  align-items: center;
}
.body footer > nav > a {
  font-size: 1.25em;
  text-decoration: none;
  color: inherit;
}
.body article {
  margin: 2em 0;
  display: grid;
  grid-gap: 1.5em;
  justify-items: center;
}
/* @media (min-width: 35em) {
  header {
    grid-template-rows: 5.5em;
    grid-auto-flow: column;
  }
  html {
    scroll-padding-top: 5.5em;
  }
  body {
    top: 5.5em;
    scroll-padding-top: 5.5em;
  }
}
@media (min-width: 25em) {
  main > article > section > div > span {
    display: block;
  }
  main > article > section > div {
    grid-template-columns: 0.2fr 0.8fr;
  }
  main > article > section > div > h2,
  main > article > section > div > p {
    text-align: left;
  }
}
@media (min-width: 60em) {
  main > ul {
    flex-flow: row;
  }
  header > nav {
    flex-flow: row;
  }
} */
