.body {
  min-height: 100vh;
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: var(--primary-color, white);
  transition-property: background-color;
  transition-duration: 1s;
}

.p {
  font-size: 1.5em;
  margin: 0;
}

.cite {
  justify-self: end;
  font-size: 1.1em;
}

.main {
  max-width: 34.375em;
  justify-self: stretch;
  grid-gap: 1em;
  padding: 2.5em 3.125em;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "blockquote blockquote" "links children";
  border-radius: 0.25em;
  background-color: var(--secondary-color, black);
  color: var(--primary-color, white);
  transition-property: background-color color;
  transition-duration: 1s;
}

.blockquote {
  grid-area: blockquote;
  margin: 0;
  display: grid;
  grid-gap: 1em;
}

.links {
  grid-area: links;
  display: flex;
}

.children {
  grid-area: children;
  display: flex;
  flex-direction: row-reverse;
}

.button,
.a {
  transition-property: background-color;
  transition-duration: 1s;
  background-color: var(--primary-color, white);
  color: var(--secondary-color, black);
  border-radius: 0.25em;
  box-sizing: border-box;
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  text-decoration: none;
}
