.body main {
  display: grid;
}
.body > div {
  overflow: auto;
}
.body {
  display: grid;
  height: 100vh;
  text-align: center;
  grid-template-rows: auto 1fr;
  margin: 0;
  width: 100%;
  color: white;
  font-family: sans-serif;
}
.body > header {
  display: flex;
  width: 100%;
  height: 4em;
  background-color: crimson;
  box-shadow: 0 0 16px black;
  justify-content: flex-end;
  align-items: center;
}
.body a {
  color: inherit;
  text-decoration: none;
}
.body > header > a {
  flex: initial;
  font-size: 1.5em;
  padding: 0.75em;
}
.body > header > a:hover {
  background-color: darkslateblue;
}
.body figure {
  display: grid;
  margin: 0;
}
.body figcaption {
  padding: 0.75em;
  font-weight: bold;
}
.body main > header {
  min-height: 100vh;
  background: linear-gradient(0.25turn, darkslategray -100%, black 200%);
  display: grid;
}
.body h1 {
  align-self: flex-end;
  margin: 0;
  font-size: 4em;
}
.body h2 {
  font-size: 2em;
}
.body p {
  font-size: 1.25em;
}
.body footer > nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.body footer > nav > a {
  font-weight: bold;
  font-size: 1.5em;
  transition: transform 0.5s ease;
  padding: 0.25em 1em;
}
.body footer > nav > a:hover {
  transform: translateY(0.25em);
}
.body main > header > p {
  color: crimson;
  font-size: 2em;
  font-style: oblique;
}
.body main > section {
  display: grid;
  background-color: slategray;
  grid-gap: 2em;
  padding: 2em 0;
  min-height: calc(100vh - 3em);
  align-items: center;
  align-content: center;
  box-sizing: border-box;
}
.body main > section > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 2em;
  justify-content: center;
  align-items: center;
}
.body main > section > h2 {
  margin: 0;
}
.body main > section > a {
  background-color: darkslategray;
  padding: 1em;
  justify-self: center;
}
.body footer {
  background-color: darkslategray;
  display: grid;
  align-content: center;
  overflow: auto;
}
.body footer > h2 {
  margin: 0;
  font-size: 2.5em;
}
.body main > footer {
  min-height: 80vh;
}
.body > footer {
  min-height: calc(20vh - 3em);
  border-top: thick solid crimson;
  box-sizing: border-box;
}
.body figure {
  background-color: darkslategray;
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.body img {
  display: grid;
  background-color: black;
  align-content: center;
  width: 100%;
}
.body figure:hover figcaption::before {
  font-family: monospace;
  font-size: 1.5em;
  color: orange;
  content: "< ";
}
.body figure:hover figcaption::after {
  font-family: monospace;
  font-size: 1.5em;
  color: orange;
  content: "/>";
}
.body figcaption {
  display: grid;
  grid-gap: 0.25em;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
}
.body section > h2 {
  border-bottom: medium solid white;
  justify-self: center;
  padding: 0.25em;
}
