.main {
  display: grid;
  padding: 1.5em 2em;
  background-color: snow;
  border-radius: 0.5em;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}
/* 
Old HTML form used media queries to put prompts 
on the left and inputs on the right when 600px
width was available. This might be reimplemented,
but would probably require use of grid-area and
refactoring other non-trivial CSS...
*/
.form > div {
  display: grid;
  /* grid-auto-flow: column;
  grid-template-columns: 1fr 1fr; */
  grid-gap: 1em;
}
.form > div > label {
  order: -1;
  /* text-align: right; */
}
.textarea {
  height: 8em;
  font-size: 1.2em;
}
.form > div > div {
  display: grid;
  grid-template-columns: 1em 1fr;
  grid-gap: 0.5em;
}
.textarea:required + label::before,
.input:required + label::before,
.select:required + label::before {
  content: "*";
  vertical-align: super;
  font-size: 0.5em;
  padding-right: 0.5em;
}
.input[type="text"] + label::after,
.input[type="email"] + label::after,
.input[type="number"] + label::after,
.textarea + label::after {
  content: ":";
}
.form {
  display: grid;
  grid-row-gap: 1.25em;
}
.article {
  background-color: powderblue;
  padding: 1em 1em;
  font-family: sans-serif;
  margin: 0;
  font-size: 1.1em;
}
.h1 {
  margin-bottom: 1em;
  text-align: center;
}
.p {
  text-align: center;
}
.select {
  width: 100%;
  height: 2.285em;
  background-color: whitesmoke;
}
.button {
  background-color: cornflowerblue;
  border-radius: 0.5em;
  padding: 0.5em 2em;
  color: ghostwhite;
  display: block;
  margin: auto;
  height: 3em;
  font-weight: bold;
}
